{
	"groups" : {
		"ores" : {
			"label" : "Ores and Bars",
			"order" : 200,
			"subgroups" : {
				"ore" : { "label" : "Raw Ore", "order" : 10, "items" : [ "aegisaltore", "coalore", "copperore", "corefragmentore", "durasteelore", "feroziumore", "fossilore", "goldore", "ironore", "moonstoneore", "platinumore", "plutoniumore", "prisiliteore", "silverore", "solariumore", "titaniumore", "triangliumore", "tungstenore", "uraniumore", "violiumore" ] },
				"ingot" : { "label" : "Bars", "order" : 20, "items" : [ "copperbar", "durasteelbar", "goldbar", "ironbar", "platinumbar", "silverbar", "titaniumbar", "tungstenbar" ] }
			}
		},

		"weapons" : {
			"label" : "Weapons",
			"order" : 400,
			"subgroups" : {
				"melee" : { "label" : "Melee", "order" : 10, "categories" : [ "broadsword", "shortsword", "axe", "hammer", "spear", "dagger", "fistWeapon" ], "tags" : [ "melee", "broadsword", "shortsword", "axe", "hammer", "spear", "dagger" ] },
				"ranged" : { "label" : "Ranged", "order" : 20, "categories" : [ "assaultRifle", "pistol", "machinePistol", "shotgun", "sniperRifle", "rocketLauncher", "grenadeLauncher", "bow", "crossbow", "boomerang", "chakram" ], "tags" : [ "ranged", "pistol", "assaultrifle", "machinepistol", "shotgun", "sniperrifle", "rocketlauncher", "grenadelauncher", "bow", "rifle" ] },
				"magic" : { "label" : "Magic", "order" : 30, "categories" : [ "staff", "wand" ], "tags" : [ "staff", "wand" ] },
				"whip" : { "label" : "Whips", "order" : 40, "categories" : [ "whip" ] },
				"shield" : { "label" : "Shields", "order" : 50, "categories" : [ "shield" ], "tags" : [ "shield" ] },
				"throwable" : { "label" : "Throwable", "order" : 60, "categories" : [ "throwableItem" ] },
				"unique" : { "label" : "Unique and Novelty", "order" : 70, "categories" : [ "uniqueWeapon", "toy" ], "tags" : [ "toy", "livingweapon" ] },
				"upgradeable" : { "label" : "Upgradeable", "order" : 80, "tags" : [ "upgradeableWeapon" ] }
			}
		},

		"armour" : {
			"label" : "Armor and Clothes",
			"order" : 500,
			"subgroups" : {
				"head" : { "label" : "Head", "order" : 10, "categories" : [ "headarmour", "headwear" ] },
				"chest" : { "label" : "Chest", "order" : 20, "categories" : [ "chestarmour", "chestwear" ] },
				"legs" : { "label" : "Legs", "order" : 30, "categories" : [ "legarmour", "legwear" ] },
				"back" : { "label" : "Back", "order" : 40, "categories" : [ "backwear", "enviroProtectionPack" ] },
				"dye" : { "label" : "Dyes", "order" : 50, "categories" : [ "clothingDye" ] }
			}
		},

		"building" : {
			"label" : "Building Materials",
			"order" : 100,
			"subgroups" : {
				"block" : { "label" : "Blocks", "order" : 10, "categories" : [ "block" ] },
				"platform" : { "label" : "Platforms and Rails", "order" : 20, "categories" : [ "platform", "rail", "railPlatform", "railPoint" ], "tags" : [ "rails" ] },
				"liquid" : { "label" : "Liquids", "order" : 30, "categories" : [ "liquid" ] }
			}
		},

		"furniture" : {
			"label" : "Furniture - General",
			"order" : 1700,
			"subgroups" : {
				"furniture" : { "label" : "Furniture", "order" : 10, "categories" : [ "furniture" ] },
				"decorative" : { "label" : "Decorative", "order" : 20, "categories" : [ "decorative" ] },
				"light" : { "label" : "Lighting", "order" : 30, "categories" : [ "light" ] },
				"storage" : { "label" : "Storage", "order" : 40, "categories" : [ "storage", "fridgeStorage", "shippingContainer" ] },
				"door" : { "label" : "Doors", "order" : 50, "categories" : [ "door" ] },
				"wire" : { "label" : "Wiring", "order" : 60, "categories" : [ "wire" ] },
				"trap" : { "label" : "Traps", "order" : 70, "categories" : [ "trap" ] },
				"teleport" : { "label" : "Teleporters", "order" : 80, "categories" : [ "teleporter", "teleportMarker" ] },
				"terraformer" : { "label" : "Terraformers", "order" : 90, "categories" : [ "terraformer" ] },
				"spawner" : { "label" : "Deeds and Spawners", "order" : 100, "categories" : [ "spawner" ] },
				"breakable" : { "label" : "Breakables", "order" : 110, "categories" : [ "breakable" ] },
				"ship" : { "label" : "Ship Fittings", "order" : 120, "tags" : [ "captainschair", "newfuelhatch" ] },
				"other" : { "label" : "Uncategorised Objects", "order" : 130, "categories" : [ "generic", "other", "Other", "playerstation", "genboss" ], "items" : [ "protectoratewindbanner", "protectoratewindbanner2", "protectoratewindbanner3", "protectoratehulagirl", "protectoratetentacle", "protectoratetentacle2", "geodebnatural", "geodecnatural", "geodednatural", "geodehighanatural", "geodelowanatural" ] }
			}
		},

		"farming" : {
			"label" : "Farming",
			"order" : 1400,
			"subgroups" : {
				"seed" : { "label" : "Seeds and Saplings", "order" : 10, "categories" : [ "seed", "sapling" ] },
				"livestock" : { "label" : "Livestock", "order" : 20, "categories" : [ "farmBeastEgg", "farmBeastFood", "farmBeastFeed" ] }
			}
		},

		"consumable" : {
			"label" : "Food",
			"order" : 900,
			"subgroups" : {
				"produce" : { "label" : "Produce", "order" : 10, "perishable" : true, "categories" : [ "food" ] },
				"food" : { "label" : "Cooked Food", "order" : 20, "perishable" : true, "categories" : [ "preparedFood" ] },
				"drink" : { "label" : "Drinks", "order" : 30, "perishable" : true, "categories" : [ "drink" ] },
				"ingredient" : { "label" : "Ingredients", "order" : 40, "perishable" : true, "categories" : [ "cookingIngredient" ] }
			}
		},

		"augment" : {
			"label" : "EPP Augments",
			"order" : 600,
			"subgroups" : {
				"epp" : { "label" : "EPP Augments", "order" : 10, "categories" : [ "eppAugment" ] }
			}
		},

		"pets" : {
			"label" : "Pets",
			"order" : 1100,
			"subgroups" : {
				"collar" : { "label" : "Collars", "order" : 10, "categories" : [ "petCollar" ] },
				"relocator" : { "label" : "Relocators", "order" : 20, "items" : [ "relocator" ] },
				"pod" : { "label" : "Empty Capture Pods", "order" : 30, "items" : [ "capturepod" ] }
			}
		},

		"livecargo" : {
			"label" : "Filled Capture Pods",
			"order" : 1101,
			"subgroups" : {
				"filledpod" : { "label" : "Filled Capture Pods", "order" : 10, "items" : [ "filledcapturepod" ] }
			}
		},

		"tools" : {
			"label" : "Tools and Gear",
			"order" : 1300,
			"subgroups" : {
				"tool" : { "label" : "Tools", "order" : 10, "categories" : [ "Tool", "tool", "Drone" ], "tags" : [ "tool", "fossilbrush", "miningtool", "pickaxe" ], "items" : [ "beamaxeX", "stationtransponder" ] },
				"tech" : { "label" : "Tech", "order" : 20, "categories" : [ "tech", "techManagement" ] }
			}
		},

		"mech" : {
			"label" : "Mechs and Vehicles",
			"order" : 800,
			"subgroups" : {
				"part" : { "label" : "Mech Parts", "order" : 10, "categories" : [ "mechPart", "Blueprint" ], "tags" : [ "mech" ], "items" : [ "autochip", "autodrive" ] },
				"vehicle" : { "label" : "Vehicles", "order" : 20, "categories" : [ "vehicleController" ], "tags" : [ "vehiclecontroller" ] },
				"salvage" : { "label" : "Salvage Components", "order" : 30, "categories" : [ "salvageComponent" ], "tags" : [ "salvage" ] }
			}
		},

		"admin" : {
			"label" : "Admin",
			"order" : 3100,
			"subgroups" : {
				"licence" : { "label" : "Ship Licenses", "order" : 10, "categories" : [ "shipLicense" ] },
				"shipupgrade" : { "label" : "Ship Upgrades", "order" : 20, "categories" : [ "Upgrade Component" ] },
				"tool" : { "label" : "Admin Tools", "order" : 30, "items" : [ "fishaxe", "superfishaxe" ] }
			}
		},

		"upgrades" : {
			"label" : "Upgrades",
			"order" : 700,
			"subgroups" : {
				"module" : { "label" : "Upgrade Modules", "order" : 10, "items" : [ "manipulatormodule", "techcard", "upgrademodule" ] }
			}
		},

		"medicine" : {
			"label" : "Healing and Medicine",
			"order" : 1000,
			"subgroups" : {
				"medicine" : { "label" : "Medicine", "order" : 10, "categories" : [ "medicine" ] }
			}
		},

		"fishing" : {
			"label" : "Fishing",
			"order" : 1500,
			"subgroups" : {
				"gear" : { "label" : "Rods, Reels and Lures", "order" : 10, "categories" : [ "fishingRod", "fishingLure", "fishingReel" ] }
			}
		},

		"furniturecrafting" : {
			"label" : "Furniture - Crafting Stations",
			"order" : 1600,
			"subgroups" : {
				"station" : { "label" : "Crafting Stations", "order" : 10, "categories" : [ "crafting" ] }
			}
		},

		"crafting" : {
			"label" : "Crafting Materials",
			"order" : 300,
			"subgroups" : {
				"material" : { "label" : "Materials", "order" : 10, "categories" : [ "craftingMaterial" ] },
				"reagent" : { "label" : "Reagents", "order" : 20, "tags" : [ "reagent" ] },
				"fuel" : { "label" : "Fuel", "order" : 30, "categories" : [ "fuel" ] }
			}
		},

		"valuables" : {
			"label" : "Collectibles and Valuables",
			"order" : 2700,
			"subgroups" : {
				"currency" : { "label" : "Currency", "order" : 10, "categories" : [ "currency" ], "items" : [ "money", "essence" ] },
				"gem" : { "label" : "Gems", "order" : 20, "items" : [ "diamond" ] },
				"trophy" : { "label" : "Trophies", "order" : 30, "categories" : [ "trophy", "artifact" ] },
				"collectible" : { "label" : "Collectibles", "order" : 40, "categories" : [ "tradingCard", "actionFigure" ] },
				"trade" : { "label" : "Trade Goods", "order" : 50, "categories" : [ "tradeGoods" ] }
			}
		},

		"fossils" : {
			"label" : "Fossils",
			"order" : 2850,
			"subgroups" : {
				"specimen" : { "label" : "Specimens", "order" : 10, "categories" : [ "smallFossil", "mediumFossil", "largeFossil" ] },
				"uncleaned" : { "label" : "Uncleaned", "order" : 20, "tags" : [ "dirtyfossil" ] },
				"display" : { "label" : "Displays", "order" : 30, "items" : [ "fossildisplay1", "fossildisplay3", "fossildisplay5" ] }
			}
		},

		"bugs" : {
			"label" : "Bug Jars",
			"order" : 2800,
			"subgroups" : {
				"bug" : { "label" : "Bugs in Jars", "order" : 10, "categories" : [ "bug" ], "tags" : [ "bug" ] }
			}
		},

		"instruments" : {
			"label" : "Instruments",
			"order" : 2900,
			"subgroups" : {
				"instrument" : { "label" : "Instruments", "order" : 10, "categories" : [ "musicalInstrument" ] }
			}
		},

		"blueprints" : {
			"label" : "Blueprints",
			"order" : 2400,
			"subgroups" : {
				"recipe" : { "label" : "Blueprints", "order" : 10, "items" : [ "sb_blueprint" ], "suffixes" : [ "-recipe" ], "nameParts" : [ { "prefix" : "sb_biomeblueprint" } ] }
			}
		},

		"quest" : {
			"label" : "Quest Items",
			"order" : 2500,
			"subgroups" : {
				"quest" : { "label" : "Quest Items", "order" : 10, "categories" : [ "quest", "mysteriousReward" ] }
			}
		},

		"junk" : {
			"label" : "Junk",
			"order" : 3200,
			"subgroups" : {
				"junk" : { "label" : "Junk", "order" : 10, "categories" : [ "Junk", "junk", "foodJunk" ] }
			}
		},

		"codices" : {
			"label" : "Codex Entries",
			"order" : 2600,
			"subgroups" : {
				"apex" : { "label" : "Apex", "order" : 10, "nameParts" : [ { "prefix" : "apex", "suffix" : "-codex" } ] },
				"avian" : { "label" : "Avian", "order" : 20, "items" : [ "trappedtomb-codex" ], "nameParts" : [ { "prefix" : "avian", "suffix" : "-codex" } ] },
				"floran" : { "label" : "Floran", "order" : 30, "nameParts" : [ { "prefix" : "floran", "suffix" : "-codex" } ] },
				"glitch" : { "label" : "Glitch", "order" : 40, "items" : [ "castleguest-codex", "castleking01-codex", "castleking02-codex", "castleking03-codex", "castleking04-codex", "castleking05-codex", "castleking06-codex", "castlemisunderstanding-codex", "castleprefix-codex", "florvilarchitect-codex", "sewerdayout-codex" ], "nameParts" : [ { "prefix" : "glitch", "suffix" : "-codex" } ] },
				"human" : { "label" : "Human", "order" : 50, "items" : [ "esthersjournal-codex" ], "nameParts" : [ { "prefix" : "human", "suffix" : "-codex" }, { "prefix" : "cultist", "suffix" : "-codex" }, { "prefix" : "lunarmission", "suffix" : "-codex" }, { "prefix" : "colonystory", "suffix" : "-codex" } ] },
				"hylotl" : { "label" : "Hylotl", "order" : 60, "items" : [ "yolotlisdiary1-codex", "yolotlisdiary2-codex", "yolotlisdiary3-codex", "yolotlisdiary4-codex", "shipseasick-codex", "townresistance-codex", "townsilly-codex" ], "nameParts" : [ { "prefix" : "hylotl", "suffix" : "-codex" } ] },
				"ancient" : { "label" : "Ancient", "order" : 70, "nameParts" : [ { "prefix" : "ancient", "suffix" : "-codex" } ] },
				"penguin" : { "label" : "Penguin", "order" : 80, "items" : [ "bossdreadwing-codex", "bossshockhopper-codex" ], "nameParts" : [ { "prefix" : "penguin", "suffix" : "-codex" } ] },
				"protectorate" : { "label" : "Protectorate", "order" : 90, "nameParts" : [ { "prefix" : "protectorate", "suffix" : "-codex" } ] },
				"special" : { "label" : "Special", "order" : 100, "items" : [ "finalpostcard-codex" ] },
				"other" : { "label" : "Other Codices", "order" : 110, "categories" : [ "codex" ], "suffixes" : [ "-codex" ], "unclassified" : true }
			}
		},

		"species" : {
			"label" : "Furniture - Species",
			"order" : 1800,
			"subgroups" : {
				"agaran" : { "label" : "Agaran", "order" : 10, "tags" : [ "agaran" ] },
				"alpaca" : { "label" : "Alpaca", "order" : 20, "tags" : [ "alpaca", "alpine" ] },
				"ancient" : { "label" : "Ancient", "order" : 30, "tags" : [ "ancient" ] },
				"apex" : { "label" : "Apex", "order" : 40, "tags" : [ "apex", "apexmansion", "apexresearchlab", "apexvillage", "apexmission1", "apexcamp" ] },
				"avian" : { "label" : "Avian", "order" : 50, "tags" : [ "avian", "avianairship", "aviantemple", "aviantomb", "avianvillage" ] },
				"fenerox" : { "label" : "Fenerox", "order" : 60, "tags" : [ "fenerox" ] },
				"floran" : { "label" : "Floran", "order" : 70, "tags" : [ "floran", "floranhuntinggrounds", "floranprison", "floranvillage" ] },
				"glitch" : { "label" : "Glitch", "order" : 80, "tags" : [ "glitch", "glitchcastle", "glitchsewer", "glitchvillage" ] },
				"human" : { "label" : "Human", "order" : 90, "tags" : [ "human", "humanbunker", "humanprison", "humanvillage" ] },
				"hylotl" : { "label" : "Hylotl", "order" : 100, "tags" : [ "hylotl", "hylotloceancity", "hylotlvillage" ] },
				"novakid" : { "label" : "Novakid", "order" : 110, "tags" : [ "novakid", "novakidvillage" ] }
			}
		},

		"armourtier" : {
			"label" : "Armor Tier",
			"order" : 501,
			"subgroups" : {
				"tier1" : { "label" : "Tier 1", "order" : 10, "tags" : [ "tier1armour" ] },
				"tier2" : { "label" : "Tier 2", "order" : 20, "tags" : [ "tier2armour" ] },
				"tier3" : { "label" : "Tier 3", "order" : 30, "tags" : [ "tier3armour" ] },
				"tier4" : { "label" : "Tier 4", "order" : 40, "tags" : [ "tier4armour" ] },
				"tier5" : { "label" : "Tier 5", "order" : 50, "tags" : [ "tier5armour" ] },
				"tier6" : { "label" : "Tier 6", "order" : 60, "tags" : [ "tier6armour" ] }
			}
		},

		"frogg" : {
			"label" : "Furniture - Themed",
			"order" : 2100,
			"subgroups" : {
				"outdoor" : { "label" : "Outdoor", "order" : 10, "tags" : [ "outdoor" ] },
				"astronaut" : { "label" : "Astronaut", "order" : 20, "tags" : [ "astronaut" ] },
				"cabin" : { "label" : "Cabin", "order" : 30, "tags" : [ "cabin" ] },
				"farm" : { "label" : "Farm / Kitchen", "order" : 40, "tags" : [ "farm" ] },
				"gothic" : { "label" : "Gothic", "order" : 50, "tags" : [ "gothic" ] },
				"island" : { "label" : "Island", "order" : 60, "tags" : [ "island" ] },
				"spooky" : { "label" : "Spooky", "order" : 70, "tags" : [ "spooky" ] },
				"retroscifi" : { "label" : "Retro Sci-Fi", "order" : 80, "tags" : [ "retroscifi" ] },
				"pastel" : { "label" : "Pastel", "order" : 90, "tags" : [ "pastel" ] },
				"sea" : { "label" : "Sea", "order" : 100, "tags" : [ "sea" ] },
				"steampunk" : { "label" : "Steampunk", "order" : 110, "tags" : [ "steampunk" ] },
				"egyptian" : { "label" : "Egyptian", "order" : 120, "tags" : [ "egyptian" ] }
			}
		},

		"biometheme" : {
			"label" : "Furniture - Biome",
			"order" : 1900,
			"subgroups" : {
				"alien" : { "label" : "Alien", "order" : 10, "tags" : [ "alien" ] },
				"alpine" : { "label" : "Alpine", "order" : 20, "tags" : [ "alpine" ] },
				"bioluminescence" : { "label" : "Bioluminescence", "order" : 30, "tags" : [ "bioluminescence" ] },
				"bone" : { "label" : "Bone", "order" : 40, "tags" : [ "bone" ] },
				"cell" : { "label" : "Cell", "order" : 50, "tags" : [ "cell" ] },
				"colourful" : { "label" : "Colourful", "order" : 60, "tags" : [ "colourful" ] },
				"coral" : { "label" : "Coral", "order" : 70, "tags" : [ "coral" ] },
				"crystalline" : { "label" : "Crystalline", "order" : 80, "tags" : [ "crystalline" ] },
				"dark" : { "label" : "Dark", "order" : 90, "tags" : [ "dark" ] },
				"eyepatch" : { "label" : "Eyepatch", "order" : 100, "tags" : [ "eyepatch" ] },
				"flesh" : { "label" : "Flesh", "order" : 110, "tags" : [ "flesh" ] },
				"foundry" : { "label" : "Foundry", "order" : 120, "tags" : [ "foundry" ] },
				"frozenfire" : { "label" : "Frozenfire", "order" : 130, "tags" : [ "frozenfire" ] },
				"geode" : { "label" : "Geode", "order" : 140, "tags" : [ "geode" ], "items" : [ "geodebnatural", "geodecnatural", "geodednatural", "geodehighanatural", "geodelowanatural" ] },
				"giantflower" : { "label" : "Giant Flower", "order" : 150, "tags" : [ "giantflower" ] },
				"gnome" : { "label" : "Gnome", "order" : 160, "tags" : [ "gnome" ] },
				"heck" : { "label" : "Heck", "order" : 170, "tags" : [ "heck" ] },
				"hive" : { "label" : "Hive", "order" : 180, "tags" : [ "hive" ] },
				"hoard" : { "label" : "Hoard", "order" : 190, "tags" : [ "hoard" ] },
				"ice" : { "label" : "Ice", "order" : 200, "tags" : [ "ice" ] },
				"jungle" : { "label" : "Jungle", "order" : 210, "tags" : [ "jungle" ] },
				"mushroompatch" : { "label" : "Mushroom Patch", "order" : 220, "tags" : [ "mushroompatch" ] },
				"naturalcave" : { "label" : "Natural Cave", "order" : 230, "tags" : [ "naturalcave" ] },
				"oasis" : { "label" : "Oasis", "order" : 240, "tags" : [ "oasis" ] },
				"ocean" : { "label" : "Ocean", "order" : 250, "tags" : [ "ocean" ] },
				"prism" : { "label" : "Prism", "order" : 260, "tags" : [ "prism" ] },
				"rust" : { "label" : "Rust", "order" : 270, "tags" : [ "rust" ] },
				"sandstone" : { "label" : "Sandstone", "order" : 280, "tags" : [ "sandstone" ] },
				"scorched" : { "label" : "Scorched", "order" : 290, "tags" : [ "scorched" ] },
				"slime" : { "label" : "Slime", "order" : 300, "tags" : [ "slime" ] },
				"spring" : { "label" : "Spring", "order" : 310, "tags" : [ "spring" ] },
				"steamspring" : { "label" : "Steamspring", "order" : 320, "tags" : [ "steamspring" ] },
				"stonecave" : { "label" : "Stone Cave", "order" : 330, "tags" : [ "stonecave" ] },
				"swamp" : { "label" : "Swamp", "order" : 340, "tags" : [ "swamp" ] },
				"tar" : { "label" : "Tar", "order" : 350, "tags" : [ "tar" ] },
				"tentacle" : { "label" : "Tentacle", "order" : 360, "tags" : [ "tentacle" ] },
				"toxic" : { "label" : "Toxic", "order" : 370, "tags" : [ "toxic" ] },
				"volcanic" : { "label" : "Volcanic", "order" : 380, "tags" : [ "volcanic" ] },
				"zen" : { "label" : "Zen", "order" : 390, "tags" : [ "zen" ] }
			}
		},

		"location" : {
			"label" : "Furniture - Location",
			"order" : 2000,
			"subgroups" : {
				"astro" : { "label" : "Astro", "order" : 10, "tags" : [ "astro" ] },
				"industrial" : { "label" : "Industrial", "order" : 20, "tags" : [ "industrial" ] },
				"lunarbase" : { "label" : "Lunar Base", "order" : 30, "tags" : [ "lunarbase" ] },
				"outpost" : { "label" : "Outpost", "order" : 40, "tags" : [ "outpost" ] },
				"protectorate" : { "label" : "Protectorate", "order" : 50, "tags" : [ "protectorate" ], "items" : [ "protectoratewindbanner", "protectoratewindbanner2", "protectoratewindbanner3", "protectoratehulagirl" ] },
				"space" : { "label" : "Space", "order" : 60, "tags" : [ "space" ] },
				"station" : { "label" : "Station", "order" : 70, "tags" : [ "station" ] }
			}
		},

		"tier" : {
			"label" : "Furniture - Tiered",
			"order" : 2200,
			"subgroups" : {
				"tier1" : { "label" : "Tier 1", "order" : 10, "tags" : [ "tier1" ] },
				"tier2" : { "label" : "Tier 2", "order" : 20, "tags" : [ "tier2" ] },
				"tier3" : { "label" : "Tier 3", "order" : 30, "tags" : [ "tier3" ] },
				"tier4" : { "label" : "Tier 4", "order" : 40, "tags" : [ "tier4" ] },
				"tier5" : { "label" : "Tier 5", "order" : 50, "tags" : [ "tier5" ] },
				"tier6" : { "label" : "Tier 6", "order" : 60, "tags" : [ "tier6" ] },
				"tier7" : { "label" : "Tier 7", "order" : 70, "tags" : [ "tier7" ] },
				"tier8" : { "label" : "Tier 8", "order" : 80, "tags" : [ "tier8" ] },
				"tier9" : { "label" : "Tier 9", "order" : 90, "tags" : [ "tier9" ] },
				"tier10" : { "label" : "Tier 10", "order" : 100, "tags" : [ "tier10" ] }
			}
		},

		"holiday" : {
			"label" : "Holiday Items",
			"order" : 3000,
			"subgroups" : {
				"christmas" : { "label" : "Christmas", "order" : 10, "tags" : [ "christmas" ] },
				"valentines" : { "label" : "Valentines", "order" : 20, "tags" : [ "valentines" ] }
			}
		},

		"tagged_combat" : {
			"label" : "Furniture - Tagged: combat",
			"order" : 2300,
			"subgroups" : {
				"combat" : { "label" : "combat", "order" : 10, "tags" : [ "combat" ] }
			}
		},

		"tagged_commerce" : {
			"label" : "Furniture - Tagged: commerce",
			"order" : 2301,
			"subgroups" : {
				"commerce" : { "label" : "commerce", "order" : 10, "tags" : [ "commerce" ] }
			}
		},

		"tagged_cooking" : {
			"label" : "Furniture - Tagged: cooking",
			"order" : 2302,
			"subgroups" : {
				"cooking" : { "label" : "cooking", "order" : 10, "tags" : [ "cooking" ] }
			}
		},

		"tagged_copper" : {
			"label" : "Furniture - Tagged: copper",
			"order" : 2303,
			"subgroups" : {
				"copper" : { "label" : "copper", "order" : 10, "tags" : [ "copper" ] }
			}
		},

		"tagged_crafting" : {
			"label" : "Furniture - Tagged: crafting",
			"order" : 2304,
			"subgroups" : {
				"crafting" : { "label" : "crafting", "order" : 10, "tags" : [ "crafting" ] }
			}
		},

		"tagged_cultist" : {
			"label" : "Furniture - Tagged: cultist",
			"order" : 2305,
			"subgroups" : {
				"cultist" : { "label" : "cultist", "order" : 10, "tags" : [ "cultist" ] }
			}
		},

		"tagged_doom" : {
			"label" : "Furniture - Tagged: doom",
			"order" : 2306,
			"subgroups" : {
				"doom" : { "label" : "doom", "order" : 10, "tags" : [ "doom" ] }
			}
		},

		"tagged_door" : {
			"label" : "Furniture - Tagged: door",
			"order" : 2307,
			"subgroups" : {
				"door" : { "label" : "door", "order" : 10, "tags" : [ "door" ] }
			}
		},

		"tagged_electronic" : {
			"label" : "Furniture - Tagged: electronic",
			"order" : 2308,
			"subgroups" : {
				"electronic" : { "label" : "electronic", "order" : 10, "tags" : [ "electronic" ] }
			}
		},

		"tagged_evil" : {
			"label" : "Furniture - Tagged: evil",
			"order" : 2309,
			"subgroups" : {
				"evil" : { "label" : "evil", "order" : 10, "tags" : [ "evil" ] }
			}
		},

		"tagged_executive" : {
			"label" : "Furniture - Tagged: executive",
			"order" : 2310,
			"subgroups" : {
				"executive" : { "label" : "executive", "order" : 10, "tags" : [ "executive" ] }
			}
		},

		"tagged_explorer" : {
			"label" : "Furniture - Tagged: explorer",
			"order" : 2311,
			"subgroups" : {
				"explorer" : { "label" : "explorer", "order" : 10, "tags" : [ "explorer" ] }
			}
		},

		"tagged_farming" : {
			"label" : "Furniture - Tagged: farming",
			"order" : 2312,
			"subgroups" : {
				"farming" : { "label" : "farming", "order" : 10, "tags" : [ "farming" ] }
			}
		},

		"tagged_geometric" : {
			"label" : "Furniture - Tagged: geometric",
			"order" : 2313,
			"subgroups" : {
				"geometric" : { "label" : "geometric", "order" : 10, "tags" : [ "geometric" ] }
			}
		},

		"tagged_knowledge" : {
			"label" : "Furniture - Tagged: knowledge",
			"order" : 2314,
			"subgroups" : {
				"knowledge" : { "label" : "knowledge", "order" : 10, "tags" : [ "knowledge" ] }
			}
		},

		"tagged_light" : {
			"label" : "Furniture - Tagged: light",
			"order" : 2315,
			"subgroups" : {
				"light" : { "label" : "light", "order" : 10, "tags" : [ "light" ] }
			}
		},

		"tagged_mechanical" : {
			"label" : "Furniture - Tagged: mechanical",
			"order" : 2316,
			"subgroups" : {
				"mechanical" : { "label" : "mechanical", "order" : 10, "tags" : [ "mechanical" ] }
			}
		},

		"tagged_medical" : {
			"label" : "Furniture - Tagged: medical",
			"order" : 2317,
			"subgroups" : {
				"medical" : { "label" : "medical", "order" : 10, "tags" : [ "medical" ] }
			}
		},

		"tagged_mining" : {
			"label" : "Furniture - Tagged: mining",
			"order" : 2318,
			"subgroups" : {
				"mining" : { "label" : "mining", "order" : 10, "tags" : [ "mining" ] }
			}
		},

		"tagged_misc" : {
			"label" : "Furniture - Tagged: misc",
			"order" : 2319,
			"subgroups" : {
				"misc" : { "label" : "misc", "order" : 10, "tags" : [ "misc" ] }
			}
		},

		"tagged_musical" : {
			"label" : "Furniture - Tagged: musical",
			"order" : 2320,
			"subgroups" : {
				"musical" : { "label" : "musical", "order" : 10, "tags" : [ "musical" ] }
			}
		},

		"tagged_nature" : {
			"label" : "Furniture - Tagged: nature",
			"order" : 2321,
			"subgroups" : {
				"nature" : { "label" : "nature", "order" : 10, "tags" : [ "nature" ] }
			}
		},

		"tagged_neon" : {
			"label" : "Furniture - Tagged: neon",
			"order" : 2322,
			"subgroups" : {
				"neon" : { "label" : "neon", "order" : 10, "tags" : [ "neon" ] }
			}
		},

		"tagged_odd" : {
			"label" : "Furniture - Tagged: odd",
			"order" : 2323,
			"subgroups" : {
				"odd" : { "label" : "odd", "order" : 10, "tags" : [ "odd" ] }
			}
		},

		"tagged_office" : {
			"label" : "Furniture - Tagged: office",
			"order" : 2324,
			"subgroups" : {
				"office" : { "label" : "office", "order" : 10, "tags" : [ "office" ] }
			}
		},

		"tagged_opulent" : {
			"label" : "Furniture - Tagged: opulent",
			"order" : 2325,
			"subgroups" : {
				"opulent" : { "label" : "opulent", "order" : 10, "tags" : [ "opulent" ] }
			}
		},

		"tagged_peacekeeper" : {
			"label" : "Furniture - Tagged: peacekeeper",
			"order" : 2326,
			"subgroups" : {
				"peacekeeper" : { "label" : "peacekeeper", "order" : 10, "tags" : [ "peacekeeper" ] }
			}
		},

		"tagged_pretty" : {
			"label" : "Furniture - Tagged: pretty",
			"order" : 2327,
			"subgroups" : {
				"pretty" : { "label" : "pretty", "order" : 10, "tags" : [ "pretty" ] }
			}
		},

		"tagged_saloon" : {
			"label" : "Furniture - Tagged: saloon",
			"order" : 2328,
			"subgroups" : {
				"saloon" : { "label" : "saloon", "order" : 10, "tags" : [ "saloon" ] }
			}
		},

		"tagged_science" : {
			"label" : "Furniture - Tagged: science",
			"order" : 2329,
			"subgroups" : {
				"science" : { "label" : "science", "order" : 10, "tags" : [ "science" ] }
			}
		},

		"tagged_serene" : {
			"label" : "Furniture - Tagged: serene",
			"order" : 2330,
			"subgroups" : {
				"serene" : { "label" : "serene", "order" : 10, "tags" : [ "serene" ] }
			}
		},

		"tagged_storage" : {
			"label" : "Furniture - Tagged: storage",
			"order" : 2331,
			"subgroups" : {
				"storage" : { "label" : "storage", "order" : 10, "tags" : [ "storage" ] }
			}
		},

		"tagged_technology" : {
			"label" : "Furniture - Tagged: technology",
			"order" : 2332,
			"subgroups" : {
				"technology" : { "label" : "technology", "order" : 10, "tags" : [ "technology" ] }
			}
		},

		"tagged_trap" : {
			"label" : "Furniture - Tagged: trap",
			"order" : 2333,
			"subgroups" : {
				"trap" : { "label" : "trap", "order" : 10, "tags" : [ "trap" ] }
			}
		},

		"tagged_traveller" : {
			"label" : "Furniture - Tagged: traveller",
			"order" : 2334,
			"subgroups" : {
				"traveller" : { "label" : "traveller", "order" : 10, "tags" : [ "traveller" ] }
			}
		},

		"tagged_valuable" : {
			"label" : "Furniture - Tagged: valuable",
			"order" : 2335,
			"subgroups" : {
				"valuable" : { "label" : "valuable", "order" : 10, "tags" : [ "valuable" ] }
			}
		},

		"tagged_wave" : {
			"label" : "Furniture - Tagged: wave",
			"order" : 2336,
			"subgroups" : {
				"wave" : { "label" : "wave", "order" : 10, "tags" : [ "wave" ] }
			}
		},

		"tagged_wired" : {
			"label" : "Furniture - Tagged: wired",
			"order" : 2337,
			"subgroups" : {
				"wired" : { "label" : "wired", "order" : 10, "tags" : [ "wired" ] }
			}
		},

		"tagged_wreck" : {
			"label" : "Furniture - Tagged: wreck",
			"order" : 2338,
			"subgroups" : {
				"wreck" : { "label" : "wreck", "order" : 10, "tags" : [ "wreck" ] }
			}
		},

		"unsorted" : {
			"label" : "Unsorted",

			"order" : 99000,
			"unclassified" : true,
			"subgroups" : {

			}
		},


		"fallingstars" : {
			"label" : "Falling Stars",
			"order" : 10000,

			"sentinelItem" : "asteriteore",

			"subgroups" : {
				"ore" : { "label" : "Asterite Ore", "order" : 10, "items" : [ "asteriteore" ] },
				"bar" : { "label" : "Asterite Bars", "order" : 20, "items" : [ "asteritebar" ] },
				"weapons" : { "label" : "Asterite Weapons", "order" : 30, "items" : [ "starclub", "durasteelbroadswordasterite", "tungstenhammerasterite", "ironassaultrifleasterite" ] },
				"throwables" : { "label" : "Asterite Throwables", "order" : 40, "items" : [ "asteriteshuriken" ] },

				"materials" : { "label" : "Asterite Building Materials", "order" : 50, "items" : [ "glowglass", "coreglass" ] }
			}
		},

		"petports" : {
			"label" : "Petports",
			"order" : 1200,
			"subgroups" : {

				"petport" : { "label" : "Petports", "order" : 10, "tags" : [ "petports_petport" ] },

				"unit" : { "label" : "Pets", "order" : 20, "tags" : [ "petports_unit" ] },

				"machine" : { "label" : "Machines", "order" : 30, "tags" : [ "petports_machine" ] },

				"beacon" : { "label" : "Beacons", "order" : 40, "tags" : [ "petports_beacon" ] },

				"module" : { "label" : "Modules", "order" : 50, "tags" : [ "petports_module" ] }
			}
		},

		"petports_fuel" : {
			"label" : "Pet Treats",
			"order" : 1201,
			"subgroups" : {
				"plain" : { "label" : "Unflavored", "order" : 10, "tags" : [ "petports_flavor_plain" ] },

				"spicy"  : { "label" : "Spicy",  "order" : 20, "tags" : [ "petports_flavor_spicy" ] },
				"sweet"  : { "label" : "Sweet",  "order" : 30, "tags" : [ "petports_flavor_sweet" ] },
				"sour"   : { "label" : "Sour",   "order" : 40, "tags" : [ "petports_flavor_sour" ] },
				"sharp"  : { "label" : "Sharp",  "order" : 50, "tags" : [ "petports_flavor_sharp" ] },
				"zesty"  : { "label" : "Zesty",  "order" : 60, "tags" : [ "petports_flavor_zesty" ] },
				"bitter" : { "label" : "Bitter", "order" : 70, "tags" : [ "petports_flavor_bitter" ] },
				"savory" : { "label" : "Savory", "order" : 80, "tags" : [ "petports_flavor_savory" ] }
			}
		}
	}
}
