{
	"gui" : {
		"background" : {
			"type" : "background",
			"fileHeader" : "/interface/lofty_petports/petportconfig/panetall_header.png",
			"fileBody" : "/interface/lofty_petports/petportconfig/panetall_body.png",
			"fileFooter" : "/interface/lofty_petports/petportconfig/panetall_footer.png"
		},

		"windowtitle" : {
			"type" : "title",
			"title" : "  Petport",
			"subtitle" : "  ^#b9b5b2;Configure and deploy pets",
			"icon" : {
				"type" : "image",
				"file" : "/interface/lofty_petports/petportconfig/paneicon.png",
				"position" : [ -4, -4 ],
				"zlevel" : -1
			}
		},

		"close" : {
			"type" : "button",
			"base" : "/interface/x.png",
			"hover" : "/interface/xhover.png",
			"pressed" : "/interface/xpress.png",
			"pressedOffset" : [ 0, 1 ],
			"position" : [ 315, 316 ],
			"zlevel" : 1
		},

		"itemGrid" : {
			"type" : "itemgrid",
			"position" : [ 16, 270 ],
			"slotOffset" : 0,
			"dimensions" : [ 1, 1 ],
			"spacing" : [ 19, 19 ],
			"backingImage" : "/interface/inventory/empty.png"
		},

		"socketLabel" : {
			"type" : "label",
			"position" : [ 10, 258 ],
			"fontSize" : 7,
			"color" : [ 150, 156, 164 ],
			"petportsString" : "petport.socket.label",
			"value" : "--",
			"mouseTransparent" : true
		},

		"portHeading" : {
			"type" : "label",
			"position" : [ 54, 284 ],
			"fontSize" : 7,
			"color" : [ 190, 196, 204 ],
			"petportsString" : "petport.port.heading",
			"value" : "--",
			"mouseTransparent" : true
		},

		"portNetworkLabel" : {
			"type" : "label",
			"position" : [ 54, 268 ],
			"fontSize" : 7,
			"color" : [ 150, 156, 164 ],
			"value" : "id: --",
			"mouseTransparent" : true
		},

		"portEnabled" : {
			"type" : "button",
			"base" : "/interface/optionsmenu/checkboxnocheck.png",
			"hover" : "/interface/optionsmenu/checkboxnocheckhover.png",
			"baseImageChecked" : "/interface/optionsmenu/checkboxcheck.png",
			"hoverImageChecked" : "/interface/optionsmenu/checkboxcheckhover.png",
			"checkable" : true,
			"checked" : true,
			"position" : [ 54, 292 ],
			"caption" : "",
			"callback" : "portEnabledToggled"
		},

		"portEnabledLabel" : {
			"type" : "label",
			"position" : [ 70, 296 ],
			"fontSize" : 7,
			"color" : [ 150, 156, 164 ],
			"petportsString" : "petport.port.enabled",
			"value" : "--",
			"mouseTransparent" : true
		},

		"portTasksLabel" : {
			"type" : "label",
			"position" : [ 178, 296 ],
			"fontSize" : 7,
			"color" : [ 190, 196, 204 ],
			"petportsString" : "petport.port.tasks",
			"value" : "--",
			"mouseTransparent" : true
		},


		"petName" : {
			"type" : "label",
			"position" : [ 8, 226 ],
			"fontSize" : 10,
			"color" : [ 255, 255, 255 ],
			"value" : "No unit",
			"mouseTransparent" : true
		},

		"petSpecies" : {
			"type" : "label",
			"position" : [ 8, 216 ],
			"fontSize" : 7,
			"color" : [ 150, 156, 164 ],
			"value" : "",
			"mouseTransparent" : true
		},

		"hoverCanvas" : {
			"type" : "canvas",
			"rect" : [ 0, 0, 337, 320 ],
			"zlevel" : -5,
			"captureMouseEvents" : false,
			"captureKeyboardEvents" : false
		},
		"tipCanvas" : {
			"type" : "canvas",
			"rect" : [ 0, 0, 150, 80 ],
			"zlevel" : 30,
			"visible" : false,
			"captureMouseEvents" : false,
			"captureKeyboardEvents" : false
		},

		"tipMeasure" : {
			"type" : "label",
			"position" : [ 8, 120 ],
			"fontSize" : 7,
			"wrapWidth" : 140,
			"value" : "",
			"visible" : false,
			"mouseTransparent" : true
		},
		"tipMeasureTitle" : {
			"type" : "label",
			"position" : [ 8, 120 ],
			"fontSize" : 8,
			"value" : "",
			"visible" : false,
			"mouseTransparent" : true
		},

		"petPreview" : {
			"type" : "canvas",
			"rect" : [ 8, 134, 114, 210 ],
			"zlevel" : 1,
			"captureMouseEvents" : false,
			"captureKeyboardEvents" : false
		},

		"fuelBlip1" : { "type" : "image", "file" : "/interface/lofty_petports/petportconfig/fuelblip.png", "position" : [ 8, 120 ], "mouseTransparent" : true },
		"fuelBlip2" : { "type" : "image", "file" : "/interface/lofty_petports/petportconfig/fuelblip.png", "position" : [ 13, 120 ], "mouseTransparent" : true },
		"fuelBlip3" : { "type" : "image", "file" : "/interface/lofty_petports/petportconfig/fuelblip.png", "position" : [ 18, 120 ], "mouseTransparent" : true },
		"fuelBlip4" : { "type" : "image", "file" : "/interface/lofty_petports/petportconfig/fuelblip.png", "position" : [ 23, 120 ], "mouseTransparent" : true },
		"fuelBlip5" : { "type" : "image", "file" : "/interface/lofty_petports/petportconfig/fuelblip.png", "position" : [ 28, 120 ], "mouseTransparent" : true },
		"fuelBlip6" : { "type" : "image", "file" : "/interface/lofty_petports/petportconfig/fuelblip.png", "position" : [ 33, 120 ], "mouseTransparent" : true },
		"fuelBlip7" : { "type" : "image", "file" : "/interface/lofty_petports/petportconfig/fuelblip.png", "position" : [ 38, 120 ], "mouseTransparent" : true },
		"fuelBlip8" : { "type" : "image", "file" : "/interface/lofty_petports/petportconfig/fuelblip.png", "position" : [ 43, 120 ], "mouseTransparent" : true },
		"fuelBlip9" : { "type" : "image", "file" : "/interface/lofty_petports/petportconfig/fuelblip.png", "position" : [ 48, 120 ], "mouseTransparent" : true },
		"fuelBlip10" : { "type" : "image", "file" : "/interface/lofty_petports/petportconfig/fuelblip.png", "position" : [ 53, 120 ], "mouseTransparent" : true },
		"fuelBlip11" : { "type" : "image", "file" : "/interface/lofty_petports/petportconfig/fuelblip.png", "position" : [ 58, 120 ], "mouseTransparent" : true },
		"fuelBlip12" : { "type" : "image", "file" : "/interface/lofty_petports/petportconfig/fuelblip.png", "position" : [ 63, 120 ], "mouseTransparent" : true },
		"fuelBlip13" : { "type" : "image", "file" : "/interface/lofty_petports/petportconfig/fuelblip.png", "position" : [ 68, 120 ], "mouseTransparent" : true },
		"fuelBlip14" : { "type" : "image", "file" : "/interface/lofty_petports/petportconfig/fuelblip.png", "position" : [ 73, 120 ], "mouseTransparent" : true },
		"fuelBlip15" : { "type" : "image", "file" : "/interface/lofty_petports/petportconfig/fuelblip.png", "position" : [ 78, 120 ], "mouseTransparent" : true },
		"fuelBlip16" : { "type" : "image", "file" : "/interface/lofty_petports/petportconfig/fuelblip.png", "position" : [ 83, 120 ], "mouseTransparent" : true },
		"fuelBlip17" : { "type" : "image", "file" : "/interface/lofty_petports/petportconfig/fuelblip.png", "position" : [ 88, 120 ], "mouseTransparent" : true },
		"fuelBlip18" : { "type" : "image", "file" : "/interface/lofty_petports/petportconfig/fuelblip.png", "position" : [ 93, 120 ], "mouseTransparent" : true },
		"fuelBlip19" : { "type" : "image", "file" : "/interface/lofty_petports/petportconfig/fuelblip.png", "position" : [ 98, 120 ], "mouseTransparent" : true },
		"fuelBlip20" : { "type" : "image", "file" : "/interface/lofty_petports/petportconfig/fuelblip.png", "position" : [ 103, 120 ], "mouseTransparent" : true },

		"fuelLabel" : {
			"type" : "label",
			"position" : [ 8, 108 ],
			"fontSize" : 7,
			"color" : [ 150, 156, 164 ],
			"petportsString" : "petport.fuel.organic",
			"value" : "--",
			"mouseTransparent" : true
		},

		"cargoLabel" : {
			"type" : "label",
			"position" : [ 8, 94 ],
			"fontSize" : 7,
			"color" : [ 150, 156, 164 ],
			"petportsString" : "petport.cargo.label",
			"value" : "--",
			"mouseTransparent" : true
		},

		"cargoSlot" : {
			"type" : "itemslot",
			"position" : [ 92, 74 ],
			"zlevel" : 2,
			"callback" : "null"
		},


		"cargoTake" : {
			"type" : "button",
			"base" : "/interface/lofty_petports/petportconfig/tab_base.png",
			"hover" : "/interface/lofty_petports/petportconfig/tab_hover.png",
			"position" : [ 8, 74 ],
			"petportsString" : "petport.cargo.take",
			"caption" : "--",
			"callback" : "cargoTakeClicked"
		},

		"taskLabel" : {
			"type" : "label",
			"position" : [ 8, 62 ],
			"fontSize" : 7,
			"color" : [ 220, 224, 230 ],
			"value" : "",
			"mouseTransparent" : true
		},

		"diag1" : { "type" : "image", "file" : "/interface/lofty_petports/upcyclerconfig/warning.png", "position" : [ 8, 42 ], "visible" : false, "zlevel" : 2 },
		"diag2" : { "type" : "image", "file" : "/interface/lofty_petports/upcyclerconfig/warning.png", "position" : [ 26, 42 ], "visible" : false, "zlevel" : 2 },
		"diag3" : { "type" : "image", "file" : "/interface/lofty_petports/upcyclerconfig/warning.png", "position" : [ 44, 42 ], "visible" : false, "zlevel" : 2 },
		"diag4" : { "type" : "image", "file" : "/interface/lofty_petports/upcyclerconfig/warning.png", "position" : [ 62, 42 ], "visible" : false, "zlevel" : 2 },

		"diagLabel" : {
			"type" : "label",
			"position" : [ 8, 32 ],
			"fontSize" : 7,
			"color" : [ 226, 138, 138 ],
			"value" : "",
			"mouseTransparent" : true
		},

		"tabDetails" : {
			"type" : "button",
			"base" : "/interface/lofty_petports/petportconfig/tab_base.png",
			"hover" : "/interface/lofty_petports/petportconfig/tab_hover.png",
			"baseImageChecked" : "/interface/lofty_petports/petportconfig/tab_checked.png",
			"hoverImageChecked" : "/interface/lofty_petports/petportconfig/tab_checkedhover.png",
			"checkable" : true,
			"checked" : true,
			"position" : [ 124, 224 ],
			"petportsString" : "petport.tab.details",
			"caption" : "--",
			"callback" : "tabDetailsClicked"
		},
		"tabSettings" : {
			"type" : "button",
			"base" : "/interface/lofty_petports/petportconfig/tab_base.png",
			"hover" : "/interface/lofty_petports/petportconfig/tab_hover.png",
			"baseImageChecked" : "/interface/lofty_petports/petportconfig/tab_checked.png",
			"hoverImageChecked" : "/interface/lofty_petports/petportconfig/tab_checkedhover.png",
			"checkable" : true,
			"checked" : false,
			"position" : [ 194, 224 ],
			"petportsString" : "petport.tab.settings",
			"caption" : "--",
			"callback" : "tabSettingsClicked"
		},
		"tabStats" : {
			"type" : "button",
			"base" : "/interface/lofty_petports/petportconfig/tab_base.png",
			"hover" : "/interface/lofty_petports/petportconfig/tab_hover.png",
			"baseImageChecked" : "/interface/lofty_petports/petportconfig/tab_checked.png",
			"hoverImageChecked" : "/interface/lofty_petports/petportconfig/tab_checkedhover.png",
			"checkable" : true,
			"checked" : false,
			"position" : [ 264, 224 ],
			"petportsString" : "petport.tab.stats",
			"caption" : "--",
			"callback" : "tabStatsClicked"
		},

		"detailsModulesLabel" : {
			"type" : "label",
			"position" : [ 126, 206 ],
			"fontSize" : 7,
			"color" : [ 190, 196, 204 ],
			"petportsString" : "petport.details.modules",
			"value" : "--",
			"mouseTransparent" : true
		},

		"moduleSlot1" : { "type" : "itemslot", "position" : [ 126, 184 ], "zlevel" : 2, "callback" : "moduleSlotClicked", "rightClickCallback" : "null" },
		"moduleSlot2" : { "type" : "itemslot", "position" : [ 148, 184 ], "zlevel" : 2, "callback" : "moduleSlotClicked", "rightClickCallback" : "null" },
		"moduleSlot3" : { "type" : "itemslot", "position" : [ 170, 184 ], "zlevel" : 2, "callback" : "moduleSlotClicked", "rightClickCallback" : "null" },
		"moduleSlot4" : { "type" : "itemslot", "position" : [ 192, 184 ], "zlevel" : 2, "callback" : "moduleSlotClicked", "rightClickCallback" : "null" },
		"moduleSlot5" : { "type" : "itemslot", "position" : [ 214, 184 ], "zlevel" : 2, "callback" : "moduleSlotClicked", "rightClickCallback" : "null" },

		"detailsModulesHint" : {
			"type" : "label",
			"petportsString" : "petport.details.moduleshint",
			"position" : [ 126, 164 ],
			"fontSize" : 7,
			"wrapWidth" : 200,
			"color" : [ 120, 126, 134 ],
			"value" : "--",
			"mouseTransparent" : true
		},

		"detailsFlavorLabel" : {
			"type" : "label",
			"position" : [ 126, 128 ],
			"fontSize" : 7,
			"color" : [ 190, 196, 204 ],
			"petportsString" : "petport.details.prefers",
			"value" : "--",
			"mouseTransparent" : true
		},
		"detailsFlavorValue" : {
			"type" : "label",
			"position" : [ 126, 116 ],
			"fontSize" : 7,
			"color" : [ 150, 156, 164 ],
			"value" : "--",
			"mouseTransparent" : true
		},

		"feedSlot" : {
			"type" : "itemslot",
			"position" : [ 240, 116 ],
			"zlevel" : 2,
			"callback" : "feedSlotClicked",
			"rightClickCallback" : "null"
		},
		"feedHint" : {
			"type" : "label",
			"position" : [ 126, 96 ],
			"fontSize" : 7,
			"color" : [ 150, 156, 164 ],
			"petportsString" : "petport.cargo.feedhint",
			"value" : "--",
			"mouseTransparent" : true
		},

		"detailsSerial" : {
			"type" : "label",
			"position" : [ 126, 74 ],
			"fontSize" : 7,
			"color" : [ 120, 126, 134 ],
			"value" : "",
			"mouseTransparent" : true
		},

		"settingsScroll" : {
			"type" : "scrollArea",

			"rect" : [ 124, 118, 312, 214 ],
			"visible" : false,
			"children" : {
				"settingsList" : {
					"type" : "list",

					"schema" : {
						"selectedBG" : "/interface/lofty_petports/shared/row_180_clear.png",
						"unselectedBG" : "/interface/lofty_petports/shared/row_180_clear.png",
						"spacing" : [ 0, 0 ],
						"memberSize" : [ 180, 16 ],
						"listTemplate" : {
							"rowBG" : {
								"type" : "image",
								"file" : "/interface/lofty_petports/shared/row_180.png",
								"position" : [ 0, 0 ],
								"zlevel" : -2,
								"mouseTransparent" : true
							},

							"rowButton" : {
								"type" : "button",
								"base" : "/interface/lofty_petports/shared/row_180_clear.png",
								"hover" : "/interface/lofty_petports/shared/row_180_hover.png",
								"position" : [ 0, 0 ],
								"zlevel" : -1,
								"callback" : "settingsRowClicked"
							},

							"helpSlot" : {
								"type" : "itemslot",
								"position" : [ 162, 0 ],
								"zlevel" : 3,
								"callback" : "null"
							},

							"settingLabel" : {
								"type" : "label",
								"position" : [ 4, 4 ],
								"hAnchor" : "left",
								"fontSize" : 7,
								"color" : [ 160, 166, 174 ],
								"value" : "",
								"mouseTransparent" : true
							},

							"settingCheck" : {
								"type" : "button",
								"base" : "/interface/optionsmenu/checkboxnocheck.png",
								"hover" : "/interface/optionsmenu/checkboxnocheckhover.png",
								"baseImageChecked" : "/interface/optionsmenu/checkboxcheck.png",
								"hoverImageChecked" : "/interface/optionsmenu/checkboxcheckhover.png",
								"checkable" : true,
								"checked" : true,

								"position" : [ 146, 3 ],
								"caption" : "",
								"callback" : "settingsRowClicked"
							},


							"colorFieldBacking" : {
								"type" : "image",
								"file" : "/interface/lofty_petports/petportconfig/colorfield_backing.png",
								"position" : [ 112, 2 ],
								"zlevel" : 1,
								"mouseTransparent" : true
							},

							"settingField" : {
								"type" : "textbox",
								"zlevel" : 5,
								"position" : [ 114, 4 ],
								"textAlign" : "center",
								"maxWidth" : 24,
								"regex" : "\\d{0,3}",
								"hint" : "",
								"callback" : "settingsFieldChanged"
							},

							"settingDown" : {
								"type" : "button",
								"base" : "/interface/scripted/mechassembly/pickleft.png",
								"hover" : "/interface/scripted/mechassembly/pickleftover.png",
								"position" : [ 102, 4 ],
								"caption" : "",
								"callback" : "settingsSpinClicked"
							},
							"settingUp" : {
								"type" : "button",
								"base" : "/interface/scripted/mechassembly/pickright.png",
								"hover" : "/interface/scripted/mechassembly/pickrightover.png",
								"position" : [ 140, 4 ],
								"caption" : "",
								"callback" : "settingsSpinClicked"
							}
						}
					}
				}
			}
		},

		"nameFieldBacking" : {
			"type" : "image",
			"file" : "/interface/lofty_petports/petportconfig/namefield_backing.png",
			"position" : [ 126, 83 ],
			"zlevel" : 1,
			"mouseTransparent" : true
		},

		"tbPetName" : {
			"type" : "textbox",
			"zlevel" : 2,
			"position" : [ 130, 86 ],
			"textAlign" : "left",
			"maxWidth" : 110,
			"regex" : ".{0,24}",
			"hint" : "",
			"callback" : "petNameEntered"
		},

		"renameButton" : {
			"type" : "button",
			"base" : "/interface/lofty_petports/petportconfig/tab_base.png",
			"hover" : "/interface/lofty_petports/petportconfig/tab_hover.png",
			"position" : [ 246, 80 ],
			"petportsString" : "petport.details.rename",
			"caption" : "--",
			"callback" : "renameClicked"
		},




		"statsScroll" : {
			"type" : "scrollArea",

			"rect" : [ 124, 49, 312, 214 ],
			"visible" : false,
			"children" : {
				"statsList" : {
					"type" : "list",
					"callback" : "statsRowSelected",
					"schema" : {
						"selectedBG" : "/interface/lofty_petports/shared/row_180_clear.png",
						"unselectedBG" : "/interface/lofty_petports/shared/row_180_clear.png",
						"spacing" : [ 0, 0 ],
						"memberSize" : [ 180, 11 ],
						"listTemplate" : {
							"rowBG" : {
								"type" : "image",
								"file" : "/interface/lofty_petports/shared/row_180_11.png",
								"position" : [ 0, 0 ],
								"zlevel" : -2
							},
							"statText" : {
								"mouseTransparent" : true,
								"type" : "label",
								"position" : [ 2, 2 ],
								"hAnchor" : "left",
								"fontSize" : 7,
								"color" : [ 160, 166, 174 ],
								"value" : ""
							}
						}
					}
				}
			}
		},


		"buildStamp" : {
			"type" : "label",
			"position" : [ 122, 34 ],
			"fontSize" : 6,
			"color" : [ 90, 94, 100 ],
			"value" : "",
			"mouseTransparent" : true
		}
	},

	"scripts" : [ "/interface/lofty_petports/petportconfig/petportconfig.lua" ],
	"scriptDelta" : 5,

	"tooltipLayout" : {
		"background" : {
			"type" : "background",
			"fileHeader" : "",
			"fileBody" : "/interface/lofty_petports/beaconconfig/tooltip_body.png",
			"fileFooter" : ""
		},
		"title" : {
			"type" : "label",
			"position" : [ 6, 20 ],
			"hAnchor" : "left",
			"wrapWidth" : 112
		},
		"description" : {
			"type" : "label",
			"position" : [ 6, 8 ],
			"hAnchor" : "left",
			"fontSize" : 7,
			"color" : [ 150, 156, 164 ],
			"wrapWidth" : 112
		}
	},

	"scriptWidgetCallbacks" : [
		"tabDetailsClicked", "tabSettingsClicked", "tabStatsClicked",
		"cargoTakeClicked",
		"moduleSlotClicked",
		"feedSlotClicked",
		"renameClicked",
		"petNameEntered",
		"portEnabledToggled",
		"statsRowSelected"
	]
}
