{
	"gui" : {
		"background" : {
			"type" : "background",
			"fileHeader" : "/interface/lofty_petports/upcyclerconfig/panewider_header.png",
			"fileBody" : "/interface/lofty_petports/upcyclerconfig/panewider_body.png",
			"fileFooter" : "/interface/lofty_petports/upcyclerconfig/panewider_footer.png"
		},

		"close" : {
			"type" : "button",
			"base" : "/interface/x.png",
			"hover" : "/interface/xhover.png",
			"pressed" : "/interface/xpress.png",
			"pressedOffset" : [ 0, 0 ],
			"position" : [ 505, 350 ],
			"zlevel" : 1
		},


		"runningLight" : {
			"type" : "image",
			"file" : "/interface/lofty_petports/upcyclerconfig/light_off.png",
			"position" : [ 470, 356 ],
			"zlevel" : 5
		},

		"windowtitle" : {
			"type" : "title",
			"title" : "  Upcycling",
			"subtitle" : "  ^#b9b5b2;Convert unused items into treats for your pets!",
			"position" : [ -3, 80 ],
			"icon" : {
				"type" : "image",
				"file" : "/interface/lofty_petports/upcyclerconfig/paneicon.png",
				"position" : [ -4, -24 ],
				"zlevel" : -1
			}
		},


		"enabledCheckbox" : {
			"type" : "button",
			"base" : "/interface/optionsmenu/checkboxnocheck.png",
			"hover" : "/interface/optionsmenu/checkboxnocheckhover.png",
			"baseImageChecked" : "/interface/optionsmenu/checkboxcheck.png",
			"hoverImageChecked" : "/interface/optionsmenu/checkboxcheckhover.png",
			"checkable" : true,
			"checked" : false,
			"position" : [ 10, 320 ],
			"callback" : "enabledToggled"
		},

		"enabledLabel" : {
			"type" : "label",
			"position" : [ 26, 322 ],
			"petportsString" : "upcycler.running",
			"value" : "--",
			"mouseTransparent" : true
		},



		"tabInstructions" : {
			"type" : "button",
			"base" : "/interface/button.png",
			"hover" : "/interface/buttonhover.png",
			"baseImageChecked" : "/interface/buttonactive.png",
			"hoverImageChecked" : "/interface/buttonactivehover.png",
			"checkable" : true,
			"checked" : true,
			"position" : [ 192, 226 ],
			"petportsString" : "upcycler.tab.instructions",
			"caption" : "--",
			"callback" : "tabInstructionsClicked"
		},

		"tabFlavors" : {
			"type" : "button",
			"base" : "/interface/button.png",
			"hover" : "/interface/buttonhover.png",
			"baseImageChecked" : "/interface/buttonactive.png",
			"hoverImageChecked" : "/interface/buttonactivehover.png",
			"checkable" : true,
			"checked" : false,
			"position" : [ 286, 226 ],
			"petportsString" : "upcycler.tab.flavors",
			"caption" : "--",
			"callback" : "tabFlavorsClicked"
		},


		"instructionsText" : {
			"type" : "label",
			"position" : [ 194, 158 ],
			"hAnchor" : "left",
			"fontSize" : 8,
			"wrapWidth" : 322,
			"petportsString" : "upcycler.instructions",
			"value" : "--"
		},


		"flavorsScroll" : {
			"type" : "scrollArea",
			"rect" : [ 192, 36, 348, 218 ],
			"visible" : false,
			"children" : {
				"flavorsList" : {
					"type" : "list",

					"callback" : "null",
					"schema" : {
						"selectedBG" : "",
						"unselectedBG" : "",
						"spacing" : [ 0, 1 ],
						"memberSize" : [ 148, 16 ],
						"listTemplate" : {
							"rowBG" : {
								"type" : "image",
								"file" : "/interface/lofty_petports/shared/row_148.png",
								"position" : [ 0, 0 ],
								"zlevel" : -2,
								"mouseTransparent" : true
							},

							"rowButton" : {
								"type" : "button",
								"base" : "/interface/lofty_petports/shared/row_148_clear.png",
								"hover" : "/interface/lofty_petports/shared/row_148_hover.png",
								"position" : [ 0, 0 ],
								"zlevel" : -1,
								"callback" : "flavorRowClicked"
							},

							"icon" : {
								"type" : "image",
								"position" : [ 1, 0 ],
								"file" : "",
								"mouseTransparent" : true
							},

							"rowLabel" : {
								"type" : "label",
								"position" : [ 22, 4 ],
								"hAnchor" : "left",
								"fontSize" : 8,
								"wrapWidth" : 118,
								"petportsString" : "upcycler.flavors.rowplaceholder",
			"value" : "--",
								"mouseTransparent" : true
							}
						}
					}
				}
			}
		},

		"reagentsLabel" : {
			"type" : "label",
			"position" : [ 358, 208 ],
			"fontSize" : 7,
			"color" : [ 160, 160, 160 ],
			"petportsString" : "upcycler.flavors.prompt",
			"value" : "--",
			"mouseTransparent" : true,
			"visible" : false
		},

		"reagentsScroll" : {
			"type" : "scrollArea",
			"rect" : [ 356, 36, 519, 204 ],
			"visible" : false,
			"children" : {
				"reagentsList" : {
					"type" : "list",
					"callback" : "null",

					"columns" : 5,
					"fillDown" : true,
					"schema" : {
						"selectedBG" : "",
						"unselectedBG" : "",
						"spacing" : [ 2, 2 ],
						"memberSize" : [ 26, 26 ],
						"listTemplate" : {
							"icon" : {
								"type" : "itemslot",
								"position" : [ 5, 9 ],
								"callback" : "null"
							},

							"weight" : {
								"type" : "label",
								"position" : [ 13, 0 ],
								"hAnchor" : "mid",
								"fontSize" : 7,
								"color" : [ 160, 160, 160 ],
								"value" : ""
							}
						}
					}
				}
			}
		},

		"feederCheckbox" : {
			"type" : "button",
			"base" : "/interface/optionsmenu/checkboxnocheck.png",
			"hover" : "/interface/optionsmenu/checkboxnocheckhover.png",
			"baseImageChecked" : "/interface/optionsmenu/checkboxcheck.png",
			"hoverImageChecked" : "/interface/optionsmenu/checkboxcheckhover.png",
			"checkable" : true,
			"checked" : false,
			"position" : [ 110, 320 ],
			"caption" : "",
			"callback" : "feederToggled"
		},
		"feederLabel" : {
			"type" : "label",
			"position" : [ 126, 322 ],
			"petportsString" : "common.petfeeder",
			"value" : "--",
			"mouseTransparent" : true
		},

				"rulesLabel" : {
			"type" : "label",
			"position" : [ 10, 276 ],
			"fontSize" : 7,
			"color" : [ 160, 160, 160 ],
			"petportsString" : "upcycler.rules",
			"value" : "--",
			"mouseTransparent" : true
		},

		"rulesScroll" : {
			"type" : "scrollArea",
			"rect" : [ 8, 144, 180, 274 ],
			"children" : {
				"rulesList" : {
					"type" : "list",

					"callback" : "ruleSelected",
					"schema" : {
						"selectedBG" : "/interface/lofty_petports/shared/row_164_selected.png",
						"unselectedBG" : "/interface/lofty_petports/shared/row_164.png",
						"spacing" : [ 0, 1 ],
						"memberSize" : [ 164, 16 ],
						"listTemplate" : {
							"rowBG" : {
								"type" : "image",
								"file" : "/interface/lofty_petports/shared/row_164.png",
								"position" : [ 0, 0 ],
								"zlevel" : -2,
								"mouseTransparent" : true
							},

							"rowHover" : {
								"type" : "button",
								"base" : "/interface/lofty_petports/shared/row_164_clear.png",
								"hover" : "/interface/lofty_petports/shared/row_164_hover.png",
								"position" : [ 0, 0 ],
								"zlevel" : -1,
								"callback" : "null"
							},

							"ruleText" : {
								"type" : "label",
								"position" : [ 4, 4 ],
								"hAnchor" : "left",
								"value" : "",
								"mouseTransparent" : true
							},

							"rowBurn" : {
								"type" : "button",
								"base" : "/interface/optionsmenu/checkboxnocheck.png",
								"hover" : "/interface/optionsmenu/checkboxnocheckhover.png",
								"baseImageChecked" : "/interface/optionsmenu/checkboxcheck.png",
								"hoverImageChecked" : "/interface/optionsmenu/checkboxcheckhover.png",
								"checkable" : true,

								"checked" : false,
								"position" : [ 107, 3 ],
								"caption" : "",
								"callback" : "ruleBurnToggled"
							},

							"rowReagent" : {
								"type" : "button",
								"base" : "/interface/optionsmenu/checkboxnocheck.png",
								"hover" : "/interface/optionsmenu/checkboxnocheckhover.png",
								"baseImageChecked" : "/interface/optionsmenu/checkboxcheck.png",
								"hoverImageChecked" : "/interface/optionsmenu/checkboxcheckhover.png",
								"checkable" : true,
								"checked" : false,
								"position" : [ 129, 3 ],
								"caption" : "",
								"callback" : "ruleReagentToggled"
							},

							"rowRemove" : {
								"type" : "button",
								"base" : "/interface/x.png",
								"hover" : "/interface/xhover.png",
								"pressed" : "/interface/xpress.png",
								"position" : [ 151, 3 ],
								"callback" : "ruleRowRemove"
							}
						}
					}
				}
			}
		},

		"itemGrid" : {
			"type" : "itemgrid",
			"position" : [ 206, 300 ],
			"slotOffset" : 0,
			"dimensions" : [ 1, 1 ],
			"spacing" : [ 19, 19 ],
			"backingImage" : "/interface/inventory/empty.png"
		},

		"inputSlotLabel" : {
			"type" : "label",
			"position" : [ 208, 290 ],
			"fontSize" : 7,
			"color" : [ 160, 160, 160 ],
			"petportsString" : "upcycler.slot.input",
			"value" : "--",
			"mouseTransparent" : true
		},

		"btnBurnNow" : {
			"type" : "button",
			"base" : "/interface/button.png",
			"hover" : "/interface/buttonhover.png",
			"position" : [ 206, 320 ],
			"petportsString" : "upcycler.burn.now",
			"caption" : "--",
			"callback" : "burnNowClicked"
		},

		"itemGrid2" : {
			"type" : "itemgrid",
			"slotOffset" : 1,
			"position" : [ 246, 300 ],
			"dimensions" : [ 1, 1 ],
			"spacing" : [ 19, 19 ],
			"backingImage" : "/interface/inventory/empty.png"
		},

		"outputItemGrid" : {
			"type" : "itemgrid",
			"slotOffset" : 2,
			"position" : [ 440, 300 ],
			"dimensions" : [ 1, 1 ],
			"spacing" : [ 19, 19 ],
			"backingImage" : "/interface/inventory/empty.png"
		},

		"outputSlotLabel" : {
			"type" : "label",
			"position" : [ 442, 290 ],
			"fontSize" : 7,
			"color" : [ 150, 156, 164 ],
			"petportsString" : "upcycler.slot.output",
			"value" : "--",
			"mouseTransparent" : true
		},


		"blip1" : {
			"type" : "image",
			"file" : "/interface/lofty_petports/upcyclerconfig/blip.png",
			"position" : [ 268, 304 ],
			"visible" : false,
			"mouseTransparent" : true
		},

		"blip2" : {
			"type" : "image",
			"file" : "/interface/lofty_petports/upcyclerconfig/blip.png",
			"position" : [ 275, 304 ],
			"visible" : false,
			"mouseTransparent" : true
		},

		"blip3" : {
			"type" : "image",
			"file" : "/interface/lofty_petports/upcyclerconfig/blip.png",
			"position" : [ 282, 304 ],
			"visible" : false,
			"mouseTransparent" : true
		},

		"blip4" : {
			"type" : "image",
			"file" : "/interface/lofty_petports/upcyclerconfig/blip.png",
			"position" : [ 289, 304 ],
			"visible" : false,
			"mouseTransparent" : true
		},

		"blip5" : {
			"type" : "image",
			"file" : "/interface/lofty_petports/upcyclerconfig/blip.png",
			"position" : [ 296, 304 ],
			"visible" : false,
			"mouseTransparent" : true
		},

		"blip6" : {
			"type" : "image",
			"file" : "/interface/lofty_petports/upcyclerconfig/blip.png",
			"position" : [ 303, 304 ],
			"visible" : false,
			"mouseTransparent" : true
		},

		"blip7" : {
			"type" : "image",
			"file" : "/interface/lofty_petports/upcyclerconfig/blip.png",
			"position" : [ 310, 304 ],
			"visible" : false,
			"mouseTransparent" : true
		},

		"blip8" : {
			"type" : "image",
			"file" : "/interface/lofty_petports/upcyclerconfig/blip.png",
			"position" : [ 317, 304 ],
			"visible" : false,
			"mouseTransparent" : true
		},

		"btnClearCharge" : {
			"type" : "button",
			"base" : "/interface/lofty_petports/upcyclerconfig/trash.png",
			"hover" : "/interface/lofty_petports/upcyclerconfig/trashhover.png",
			"pressed" : "/interface/lofty_petports/upcyclerconfig/trashpress.png",
			"pressedOffset" : [ 0, 0 ],
			"position" : [ 327, 300 ],
			"callback" : "clearChargeClicked"
		},

		"reagentSlotLabel" : {
			"type" : "label",
			"position" : [ 248, 290 ],
			"fontSize" : 7,
			"color" : [ 150, 156, 164 ],
			"petportsString" : "upcycler.slot.reagent",
			"value" : "--",
			"mouseTransparent" : true
		},

		"progressBar" : {
			"type" : "image",
			"file" : "/interface/lofty_petports/upcyclerconfig/progressbar.png:p0",
			"position" : [ 202, 266 ]
		},

		"progressLabel" : {
			"type" : "label",
			"position" : [ 202, 256 ],
			"fontSize" : 7,
			"color" : [ 150, 156, 164 ],
			"value" : "",
			"mouseTransparent" : true
		},


		"editorLabel" : {
			"type" : "label",
			"position" : [ 10, 130 ],
			"fontSize" : 7,
			"color" : [ 160, 160, 160 ],
			"petportsString" : "upcycler.editor",
			"value" : "--",
			"mouseTransparent" : true
		},

		"slotBacking" : {
			"type" : "image",
			"file" : "/interface/lofty_petports/restockconfig/slot_backing.png",
			"position" : [ 10, 102 ],
			"zlevel" : 1,
			"mouseTransparent" : true
		},

		"itemSlot_sample" : {
			"type" : "itemslot",
			"zlevel" : 2,
			"position" : [ 10, 102 ],
			"callback" : "sampleSlotClicked",
			"rightClickCallback" : "sampleSlotCleared"
		},

		"sampleHint" : {
			"type" : "label",
			"position" : [ 34, 118 ],
			"fontSize" : 7,
			"color" : [ 150, 156, 164 ],
			"petportsString" : "upcycler.samplehint",
			"value" : "--",
			"mouseTransparent" : true
		},

		"thresholdLabel" : {
			"type" : "label",
			"position" : [ 10, 82 ],
			"fontSize" : 7,
			"color" : [ 150, 156, 164 ],
			"petportsString" : "upcycler.threshold",
			"value" : "--",
			"mouseTransparent" : true
		},

		"thresholdBacking" : {
			"type" : "image",
			"file" : "/interface/lofty_petports/restockconfig/field_backing.png",
			"position" : [ 114, 78 ],
			"zlevel" : 1,
			"mouseTransparent" : true
		},

		"tbThreshold" : {
			"type" : "textbox",
			"zlevel" : 2,
			"position" : [ 116, 82 ],
			"textAlign" : "center",
			"maxWidth" : 38,
			"regex" : "\\d{0,7}",
			"hint" : "",
			"callback" : "thresholdChanged"
		},

		"warnIcon" : {
			"type" : "image",
			"file" : "/interface/lofty_petports/upcyclerconfig/warning.png",
			"position" : [ 10, 25 ],
			"visible" : false,
			"mouseTransparent" : true
		},

		"warnText" : {
			"type" : "label",
			"position" : [ 32, 37 ],
			"fontSize" : 7,
			"color" : [ 240, 200, 40 ],
			"wrapWidth" : 135,
			"value" : "",
			"visible" : false,
			"mouseTransparent" : true
		},

		"lblStatus" : {
			"type" : "label",
			"position" : [ 10, 58 ],
			"fontSize" : 7,
			"color" : [ 150, 156, 164 ],
			"wrapWidth" : 155,
			"value" : "",
			"mouseTransparent" : true
		}
	},


	"scripts" : [ "/interface/lofty_petports/upcyclerconfig/upcyclerconfig.lua" ],
	"scriptDelta" : 5,

	"scriptWidgetCallbacks" : [
		"tabInstructionsClicked", "tabFlavorsClicked", "clearChargeClicked",
		"burnNowClicked",
		"enabledToggled",
		"ruleSelected",
		"sampleSlotClicked",
		"sampleSlotCleared",
		"thresholdChanged",
		"feederToggled"
	]
}
