{
	"gui" : {
		"background" : {
			"type" : "background",
			"fileHeader" : "/interface/lofty_petports/upcyclerconfig/panewide_header.png",
			"fileBody" : "/interface/lofty_petports/upcyclerconfig/panewide_body.png",
			"fileFooter" : "/interface/lofty_petports/upcyclerconfig/panewide_footer.png"
		},

		"close" : {
			"type" : "button",
			"base" : "/interface/x.png",
			"hover" : "/interface/xhover.png",
			"pressed" : "/interface/xpress.png",
			"pressedOffset" : [ 0, 0 ],
			"position" : [ 315, 350 ],
			"zlevel" : 1
		},

		"windowtitle" : {
			"type" : "title",
			"title" : "  Upcycling",
			"subtitle" : "  ^#b9b5b2;Convert unused items into treats for your pets!",
			"position" : [ -3, 80 ],
			"icon" : {
				"type" : "image",
				"file" : "/interface/lofty_petports/upcyclerconfig/paneicon.png",
				"position" : [ -4, -24 ],
				"zlevel" : -1
			}
		},


		"enabledCheckbox" : {
			"type" : "button",
			"base" : "/interface/optionsmenu/checkboxnocheck.png",
			"hover" : "/interface/optionsmenu/checkboxnocheckhover.png",
			"baseImageChecked" : "/interface/optionsmenu/checkboxcheck.png",
			"hoverImageChecked" : "/interface/optionsmenu/checkboxcheckhover.png",
			"checkable" : true,
			"checked" : false,
			"position" : [ 10, 320 ],
			"callback" : "enabledToggled"
		},

		"enabledLabel" : {
			"type" : "label",
			"position" : [ 26, 322 ],
			"petportsString" : "upcycler.running",
			"value" : "--",
			"mouseTransparent" : true
		},

		"feederCheckbox" : {
			"type" : "button",
			"base" : "/interface/optionsmenu/checkboxnocheck.png",
			"hover" : "/interface/optionsmenu/checkboxnocheckhover.png",
			"baseImageChecked" : "/interface/optionsmenu/checkboxcheck.png",
			"hoverImageChecked" : "/interface/optionsmenu/checkboxcheckhover.png",
			"checkable" : true,
			"checked" : false,
			"position" : [ 110, 320 ],
			"caption" : "",
			"callback" : "feederToggled"
		},

		"feederLabel" : {
			"type" : "label",
			"position" : [ 126, 322 ],
			"petportsString" : "common.petfeeder",
			"value" : "--",
			"mouseTransparent" : true
		},

		"btnBurnNow" : {
			"type" : "button",
			"base" : "/interface/button.png",
			"hover" : "/interface/buttonhover.png",
			"position" : [ 206, 320 ],
			"petportsString" : "upcycler.burn.now",
			"caption" : "--",
			"callback" : "burnNowClicked"
		},


		"runningLight" : {
			"type" : "image",
			"file" : "/interface/lofty_petports/upcyclerconfig/light_off.png",
			"position" : [ 10, 301 ],
			"zlevel" : 5,
			"mouseTransparent" : true
		},

		"itemGrid" : {
			"type" : "itemgrid",
			"position" : [ 32, 300 ],
			"slotOffset" : 0,
			"dimensions" : [ 1, 1 ],
			"spacing" : [ 19, 19 ],
			"backingImage" : "/interface/inventory/empty.png"
		},

		"inputSlotLabel" : {
			"type" : "label",
			"position" : [ 34, 290 ],
			"fontSize" : 7,
			"color" : [ 160, 160, 160 ],
			"petportsString" : "upcycler.slot.input",
			"value" : "--",
			"mouseTransparent" : true
		},

		"itemGrid2" : {
			"type" : "itemgrid",
			"slotOffset" : 1,
			"position" : [ 72, 300 ],
			"dimensions" : [ 1, 1 ],
			"spacing" : [ 19, 19 ],
			"backingImage" : "/interface/inventory/empty.png"
		},

		"reagentSlotLabel" : {
			"type" : "label",
			"position" : [ 74, 290 ],
			"fontSize" : 7,
			"color" : [ 150, 156, 164 ],
			"petportsString" : "upcycler.slot.reagent",
			"value" : "--",
			"mouseTransparent" : true
		},

		"blip1" : {
			"type" : "image",
			"file" : "/interface/lofty_petports/upcyclerconfig/blip.png",
			"position" : [ 112, 304 ],
			"visible" : false,
			"mouseTransparent" : true
		},

		"blip2" : {
			"type" : "image",
			"file" : "/interface/lofty_petports/upcyclerconfig/blip.png",
			"position" : [ 119, 304 ],
			"visible" : false,
			"mouseTransparent" : true
		},

		"blip3" : {
			"type" : "image",
			"file" : "/interface/lofty_petports/upcyclerconfig/blip.png",
			"position" : [ 126, 304 ],
			"visible" : false,
			"mouseTransparent" : true
		},

		"blip4" : {
			"type" : "image",
			"file" : "/interface/lofty_petports/upcyclerconfig/blip.png",
			"position" : [ 133, 304 ],
			"visible" : false,
			"mouseTransparent" : true
		},

		"blip5" : {
			"type" : "image",
			"file" : "/interface/lofty_petports/upcyclerconfig/blip.png",
			"position" : [ 140, 304 ],
			"visible" : false,
			"mouseTransparent" : true
		},

		"blip6" : {
			"type" : "image",
			"file" : "/interface/lofty_petports/upcyclerconfig/blip.png",
			"position" : [ 147, 304 ],
			"visible" : false,
			"mouseTransparent" : true
		},

		"blip7" : {
			"type" : "image",
			"file" : "/interface/lofty_petports/upcyclerconfig/blip.png",
			"position" : [ 154, 304 ],
			"visible" : false,
			"mouseTransparent" : true
		},

		"blip8" : {
			"type" : "image",
			"file" : "/interface/lofty_petports/upcyclerconfig/blip.png",
			"position" : [ 161, 304 ],
			"visible" : false,
			"mouseTransparent" : true
		},

		"btnClearCharge" : {
			"type" : "button",
			"base" : "/interface/lofty_petports/upcyclerconfig/trash.png",
			"hover" : "/interface/lofty_petports/upcyclerconfig/trashhover.png",
			"pressed" : "/interface/lofty_petports/upcyclerconfig/trashpress.png",
			"pressedOffset" : [ 0, 0 ],
			"position" : [ 172, 300 ],
			"callback" : "clearChargeClicked"
		},

		"outputItemGrid" : {
			"type" : "itemgrid",
			"slotOffset" : 2,
			"position" : [ 305, 300 ],
			"dimensions" : [ 1, 1 ],
			"spacing" : [ 19, 19 ],
			"backingImage" : "/interface/inventory/empty.png"
		},

		"outputSlotLabel" : {
			"type" : "label",
			"position" : [ 307, 290 ],
			"fontSize" : 7,
			"color" : [ 150, 156, 164 ],
			"petportsString" : "upcycler.slot.output",
			"value" : "--",
			"mouseTransparent" : true
		},

		"progressBar" : {
			"type" : "image",
			"file" : "/interface/lofty_petports/upcyclerconfig/progressbar.png:p0",
			"position" : [ 10, 272 ]
		},

		"progressLabel" : {
			"type" : "label",
			"position" : [ 10, 262 ],
			"fontSize" : 7,
			"color" : [ 150, 156, 164 ],
			"value" : "",
			"mouseTransparent" : true
		},

		"warnIcon" : {
			"type" : "image",
			"file" : "/interface/lofty_petports/upcyclerconfig/warning.png",
			"position" : [ 10, 238 ],
			"visible" : false,
			"mouseTransparent" : true
		},

		"warnText" : {
			"type" : "label",
			"position" : [ 32, 250 ],
			"hAnchor" : "left",
			"vAnchor" : "top",
			"fontSize" : 7,
			"color" : [ 240, 200, 40 ],
			"wrapWidth" : 290,
			"value" : "",
			"visible" : false,
			"mouseTransparent" : true
		},


		"tabInstructions" : {
			"type" : "button",
			"base" : "/interface/button.png",
			"hover" : "/interface/buttonhover.png",
			"baseImageChecked" : "/interface/buttonactive.png",
			"hoverImageChecked" : "/interface/buttonactivehover.png",
			"checkable" : true,
			"checked" : true,
			"position" : [ 10, 200 ],
			"petportsString" : "upcycler.tab.instructions",
			"caption" : "--",
			"callback" : "tabInstructionsClicked"
		},

		"tabRules" : {
			"type" : "button",
			"base" : "/interface/button.png",
			"hover" : "/interface/buttonhover.png",
			"baseImageChecked" : "/interface/buttonactive.png",
			"hoverImageChecked" : "/interface/buttonactivehover.png",
			"checkable" : true,
			"checked" : false,
			"position" : [ 108, 200 ],
			"petportsString" : "upcycler.tab.rules",
			"caption" : "--",
			"callback" : "tabRulesClicked"
		},

		"tabFlavors" : {
			"type" : "button",
			"base" : "/interface/button.png",
			"hover" : "/interface/buttonhover.png",
			"baseImageChecked" : "/interface/buttonactive.png",
			"hoverImageChecked" : "/interface/buttonactivehover.png",
			"checkable" : true,
			"checked" : false,
			"position" : [ 206, 200 ],
			"petportsString" : "upcycler.tab.flavors",
			"caption" : "--",
			"callback" : "tabFlavorsClicked"
		},


		"instructionsText" : {
			"type" : "label",
			"position" : [ 12, 174 ],
			"hAnchor" : "left",
			"vAnchor" : "top",
			"fontSize" : 8,
			"wrapWidth" : 313,
			"petportsString" : "upcycler.instructions",
			"value" : "--"
		},


		"slotBacking" : {
			"type" : "image",
			"file" : "/interface/lofty_petports/restockconfig/slot_backing.png",
			"position" : [ 10, 154 ],
			"zlevel" : 1,
			"visible" : false,
			"mouseTransparent" : true
		},

		"itemSlot_sample" : {
			"type" : "itemslot",
			"zlevel" : 2,
			"position" : [ 10, 154 ],
			"visible" : false,
			"callback" : "sampleSlotClicked",
			"rightClickCallback" : "sampleSlotCleared"
		},

		"sampleHint" : {
			"type" : "label",
			"position" : [ 10, 148 ],
			"hAnchor" : "left",
			"vAnchor" : "top",
			"fontSize" : 7,
			"wrapWidth" : 82,
			"color" : [ 150, 156, 164 ],
			"petportsString" : "upcycler.samplehint",
			"value" : "--",
			"visible" : false,
			"mouseTransparent" : true
		},

		"thresholdLabel" : {
			"type" : "label",
			"position" : [ 10, 112 ],
			"fontSize" : 7,
			"color" : [ 150, 156, 164 ],
			"petportsString" : "upcycler.threshold",
			"value" : "--",
			"visible" : false,
			"mouseTransparent" : true
		},

		"thresholdBacking" : {
			"type" : "image",
			"file" : "/interface/lofty_petports/restockconfig/field_backing.png",
			"position" : [ 10, 94 ],
			"zlevel" : 1,
			"visible" : false,
			"mouseTransparent" : true
		},

		"tbThreshold" : {
			"type" : "textbox",
			"zlevel" : 2,
			"position" : [ 12, 98 ],
			"textAlign" : "center",
			"maxWidth" : 38,
			"regex" : "\\d{0,7}",
			"hint" : "",
			"visible" : false,
			"callback" : "thresholdChanged"
		},

		"rulesScroll" : {
			"type" : "scrollArea",
			"rect" : [ 96, 36, 325, 174 ],
			"visible" : false,
			"children" : {
				"rulesList" : {
					"type" : "list",

					"callback" : "ruleSelected",
					"schema" : {
						"selectedBG" : "/interface/lofty_petports/shared/row_221_selected.png",
						"unselectedBG" : "/interface/lofty_petports/shared/row_221.png",
						"spacing" : [ 0, 1 ],
						"memberSize" : [ 221, 16 ],
						"listTemplate" : {
							"rowBG" : {
								"type" : "image",
								"file" : "/interface/lofty_petports/shared/row_221.png",
								"position" : [ 0, 0 ],
								"zlevel" : -2,
								"mouseTransparent" : true
							},

							"rowHover" : {
								"type" : "button",
								"base" : "/interface/lofty_petports/shared/row_221_clear.png",
								"hover" : "/interface/lofty_petports/shared/row_221_hover.png",
								"position" : [ 0, 0 ],
								"zlevel" : -1,
								"callback" : "null"
							},

							"ruleText" : {
								"type" : "label",
								"position" : [ 4, 4 ],
								"hAnchor" : "left",
								"value" : "",
								"mouseTransparent" : true
							},

							"rowBurn" : {
								"type" : "button",
								"base" : "/interface/optionsmenu/checkboxnocheck.png",
								"hover" : "/interface/optionsmenu/checkboxnocheckhover.png",
								"baseImageChecked" : "/interface/optionsmenu/checkboxcheck.png",
								"hoverImageChecked" : "/interface/optionsmenu/checkboxcheckhover.png",
								"checkable" : true,

								"checked" : false,
								"position" : [ 164, 3 ],
								"caption" : "",
								"callback" : "ruleBurnToggled"
							},

							"rowReagent" : {
								"type" : "button",
								"base" : "/interface/optionsmenu/checkboxnocheck.png",
								"hover" : "/interface/optionsmenu/checkboxnocheckhover.png",
								"baseImageChecked" : "/interface/optionsmenu/checkboxcheck.png",
								"hoverImageChecked" : "/interface/optionsmenu/checkboxcheckhover.png",
								"checkable" : true,
								"checked" : false,
								"position" : [ 186, 3 ],
								"caption" : "",
								"callback" : "ruleReagentToggled"
							},

							"rowRemove" : {
								"type" : "button",
								"base" : "/interface/x.png",
								"hover" : "/interface/xhover.png",
								"pressed" : "/interface/xpress.png",
								"position" : [ 208, 3 ],
								"callback" : "ruleRowRemove"
							}
						}
					}
				}
			}
		},


		"flavorsScroll" : {
			"type" : "scrollArea",
			"rect" : [ 4, 36, 119, 174 ],
			"visible" : false,
			"children" : {
				"flavorsList" : {
					"type" : "list",

					"callback" : "null",
					"schema" : {
						"selectedBG" : "",
						"unselectedBG" : "",
						"spacing" : [ 0, 1 ],
						"memberSize" : [ 107, 16 ],
						"listTemplate" : {
							"rowBG" : {
								"type" : "image",
								"file" : "/interface/lofty_petports/shared/row_107.png",
								"position" : [ 0, 0 ],
								"zlevel" : -2,
								"mouseTransparent" : true
							},

							"rowButton" : {
								"type" : "button",
								"base" : "/interface/lofty_petports/shared/row_107_clear.png",
								"hover" : "/interface/lofty_petports/shared/row_107_hover.png",
								"position" : [ 0, 0 ],
								"zlevel" : -1,
								"callback" : "flavorRowClicked"
							},

							"icon" : {
								"type" : "image",
								"position" : [ 1, 0 ],
								"file" : "",
								"mouseTransparent" : true
							},

							"rowLabel" : {
								"type" : "label",
								"position" : [ 22, 4 ],
								"hAnchor" : "left",
								"fontSize" : 8,
								"wrapWidth" : 81,
								"petportsString" : "upcycler.flavors.rowplaceholder",
								"value" : "--",
								"mouseTransparent" : true
							}
						}
					}
				}
			}
		},

		"reagentsLabel" : {
			"type" : "label",
			"position" : [ 121, 178 ],
			"fontSize" : 7,
			"color" : [ 160, 160, 160 ],
			"petportsString" : "upcycler.flavors.prompt",
			"value" : "--",
			"mouseTransparent" : true,
			"visible" : false
		},

		"reagentsScroll" : {
			"type" : "scrollArea",
			"rect" : [ 121, 36, 325, 174 ],
			"visible" : false,
			"children" : {
				"reagentsList" : {
					"type" : "list",
					"callback" : "null",

					"columns" : 7,
					"fillDown" : true,
					"schema" : {
						"selectedBG" : "",
						"unselectedBG" : "",
						"spacing" : [ 2, 2 ],
						"memberSize" : [ 26, 26 ],
						"listTemplate" : {
							"icon" : {
								"type" : "itemslot",
								"position" : [ 5, 9 ],
								"callback" : "null"
							},

							"weight" : {
								"type" : "label",
								"position" : [ 13, 0 ],
								"hAnchor" : "mid",
								"fontSize" : 7,
								"color" : [ 160, 160, 160 ],
								"value" : ""
							}
						}
					}
				}
			}
		}
	},


	"scripts" : [ "/interface/lofty_petports/upcyclerconfig/upcyclerconfig.lua" ],
	"scriptDelta" : 5,

	"scriptWidgetCallbacks" : [
		"tabInstructionsClicked", "tabRulesClicked", "tabFlavorsClicked",
		"clearChargeClicked",
		"burnNowClicked",
		"enabledToggled",
		"ruleSelected",
		"sampleSlotClicked",
		"sampleSlotCleared",
		"thresholdChanged",
		"feederToggled"
	]
}
